@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    text-align: center;
}



h1 {
    font-family: 'Roboto', sans-serif;
    padding: 15px 0;
    background-color: grey;
    width: 400px;
    text-align: center;
    margin: auto;
}

